<div class="container">
  <%= simple_form_for(@game) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :league %>
      <%= f.input :home_team %>
      <%= f.input :away_team %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.input :location %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
