 <div class="flex items-center justify-center h-screen"> 
  <table class="shadow-lg bg-white text-center">
    <thead>
      <tr>
        <th class="bg-blue-100 border border-black text-center px-8 py-4">League</th>
        <th class="bg-blue-100 border border-black text-center px-8 py-4">Home team</th>
        <th class="bg-blue-100 border border-black text-center px-8 py-4">Away team</th>
        <th class="bg-blue-100 border border-black text-center px-8 py-4">Start time</th>
        <th class="bg-blue-100 border border-black text-center px-8 py-4">End time</th>
        <th class="bg-blue-100 border border-black text-center px-8 py-4">Location</th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td class="border px-8 py-4"><%= game.league %></td>
          <td class="border px-8 py-4"><%= game.home_team %></td>
          <td class="border px-8 py-4"><%= game.away_team %></td>
          <td class="border px-8 py-4"><%= game.start_time %></td>
          <td class="border px-8 py-4"><%= game.end_time %></td>
          <td class="border px-8 py-4"><%= game.location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

<br>

<%= link_to 'New Game', new_game_path %>
