<div class="container">
  <%= simple_form_for(@game) do | f | %>
    <%= f.input :league %>
    <%= f.input :home_team %>
    <%= f.input :away_team %>
    <%= f.input :start_time, as: :date_time %>%
    <%= f.input :end_time, as: :date_time %>%
    <%= f.input :location %>
    <%= f.button :submit %>
  <% end %>
</div>